@import 'base.scss';

.nav-main-container {
  z-index: 1000;
  width: 100%;

  .top-logo-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  .nav-listoptions {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    padding-bottom: 17px;
    p {
      @include navtitle;
      &:hover {
        border-bottom: 1px solid white;
        transition: all ease-in-out .4s;
      }
    }
  }
}
